

  .logo {
    height: 400px;
    max-width: 100%;
    background: url("../images/VF-logo2.png") no-repeat center center/cover;
    position: relative;
}

.door {
  height: 580px;
  width: 100%;
  background: url("../images/door.jpg") no-repeat center center/cover;
  position: relative;
}
